{% extends "base.html" %}
{% block style %}
<!-- uncomment if required -->
<!-- <link rel="stylesheet" href="static/styles/login.css"> -->
<link rel="stylesheet" href="static/styles/cart.css">
{% endblock %}
{% block nav %}
<form class="form-inline my-2 my-lg-0">
    <button class="signup-btn btn  my-2 my-sm-0" type="submit">Profile</button>
</form>
{% endblock %}
{% block title %}
<title>Cart items</title>
{% endblock %}
{% block content %}
<h1 class="cart-header">Your cart items</h1>
<div class="container">
    <div class="item-image">
        
    </div>
    <div class="item-quantity">

    </div>
    <div class="price">

    </div>
  </div>
{% endblock %}