{% extends "base.html" %}
{% block style %}
<!-- uncomment if required -->
<!-- <link rel="stylesheet" href="static/styles/login.css"> -->
<link rel="stylesheet" href="static/styles/shop.css">
{% endblock %}
{% block nav %}
<form class="form-inline my-2 my-lg-0">
    <button class="signup-btn btn  my-2 my-sm-0" type="submit">Cart</button>
</form>

{% endblock %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block extranav %}
<li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
</li>
{% endblock %}
{% block content %}
<div class="items-container">
    <div class="super-row">
        <div class="items-container-inner row">
            {% for item in products %}

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/{{ item.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.desc }}</p>
                        <div class="price"> Eth. {{ item.price }}</div>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}