{% extends "base.html" %}
{% block style %}
<!-- uncomment if required -->
<!-- <link rel="stylesheet" href="static/styles/login.css"> -->
<link rel="stylesheet" href="static/styles/shop.css">
{% endblock %}
{% block nav %}
<form class="form-inline my-2 my-lg-0">
    <button class="signup-btn btn  my-2 my-sm-0" type="submit">Cart</button>
</form>

{% endblock %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block extranav %}
<li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
</li>
{% endblock %}
{% block content %}
<div class="items-container">
    <div class="super-row">
        <div class="items-container-inner row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Green camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nothing up camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Super camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="super-row">
        <div class="items-container-inner row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Green camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/5.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nothing up camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Super camulo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="buy">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <a href="#" class="btn btn-primary detail-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}