{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/styles/signup.css">
{% endblock %}
{% block nav %}
<form class="form-inline my-2 my-lg-0">
    <button class="signup-btn btn  my-2 my-sm-0" type="submit">Log in</button>
</form>
{% endblock%}
{% block title %}
<title>Sign up</title>
{% endblock %}
{% block content %}
<form class="signup-form" method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Full name</label>
        <input type="text" class="form-control namejs" id="exampleFormControlInput1" placeholder="Aditya Saini" name="name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Email</label>
        <input type="email" class="form-control emailjs" id="exampleFormControlInput1" placeholder="aditya@gmail.com" name="email">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Password</label>
        <input type="password" class="form-control passwordjs" id="exampleFormControlInput1" name="password">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Password</label>
        <input type="password" class="form-control reppasswordjs" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-outline-dark submitjs">Sign up</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="static/scripts/signup.js"></script>
{% endblock %}